{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if show_my_tasks %}
        {% for i in show_my_tasks %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.start_date }}</td>
                    <td>{{ i.due_date }}</td>
                    <td>{{ i.is_completed|yesno }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock%}
