{% extends "base.html" %}
{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}">Create new project</a></p>
        {% if not list_projects %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for i in list_projects %}
                <tr>
                    <td><a href="{% url 'show_project' i.id %}">{{ i.name }}</a></td>
                    <td>{{ i.tasks.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock %}
